.App {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 10px;
}

.container {
  margin-top: 10px;
  margin-bottom: 5px;
}

.title {
  color: grey;
  font-size: 18px;
}

h2 {
  color: #c82333;
}

li,
ul {
  list-style: none;
  list-style-position: inside;
  padding: 0;
  margin: 0px;
}

.app {
  font-family: "Ibarra Real Nova", serif;
  text-decoration: none !important;
}
.card {
  margin-top: 15px;
}
